body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    --rojo-fondo:#fb5858;
    --rojo-item:#fc876a;
    --azul-boton:#48e;
    --azul-tareas:#6aabeb;
    --blanco-boton:#ffe3c8;
    --blanco-tareas:#b5b5b5;
}

.flex-container {
    background-color:var(--rojo-fondo);
    border: 3px solid #333;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    max-width: 70vw;
}
/* Donde estan los botones y el texto */
.flex-item {
    background-color: var(--rojo-item);
    display: flex;
    align-items: center;
     /* Distribuye el texto a la izquierda y los botones a la derecha */
    padding: 10px;
    border-bottom: 2px solid #a1a1a1;
}
button:hover{
    box-shadow: 2px 2px 2px black;
}
input {
    padding: 5px;
    border: 1px solid #111;
}
/* Boton de tachar */
.tachar {
    background-color: var(--azul-boton);
    margin-left: auto;
    margin-right: 10px;
}
/* Boton borrar */
.borrar {
    color: var(--rojo-fondo);
    
}
/* Boton guardar */
#guardar {
    background-color: var(--blanco-boton);
}
/* Texto del input */
.textNodo {
    font-size: 15px;
}
.task-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #333;
}
p {
    margin: 10px;
}
.delete-container {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    border: 2px solid #333;
    background-color: var(--rojo-fondo);
    
    max-width: 70vw;
}
#borrar-todo {
    padding: 5px;
    background-color: rgb(235, 205, 37);
}
/* Mejor no colocarlo */
/* Animacion de borrado */
@keyframes borrar{
    from {
        opacity: 1;
        height: auto;
    }
    to {
        opacity: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
}
.fade-out {
    animation: borrar 0.2s forwards;
}
/* Animacion al guardar */
@keyframes Guardar {
    from{
        height: 0;
        opacity: 0;
    }
    to {
        height: auto;
        opacity: 1;
    }
}
.save { 
    animation: Guardar 0.2s forwards; 
} 

/* ------SECCION DE AJUSTES */
.header {
    text-decoration: none;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #11111151;
    max-width: auto;
    max-height: auto;
}

.ajustes {
    position: relative;
    padding: 5px 10px;
    margin: 0;
    font-size: 14px;
    height: auto;
    width: auto;
    border-radius: 0px 5px 5px 0px;
    background: #eee;
    border: 1px solid #bbb;
    cursor: pointer;
    /* Hacer que se posicione automaticamente */
    
}
/* Apartado de fondos */
.colores:hover{
    box-shadow: 1px 1px 1px black;
}
#menu {
    display: flex;
    display: none;
    list-style: none;  
}
#menu > li > a{
    display: block;
    color: white;
    text-decoration: none;
}
#menu li:hover .lista-colores {
    display: block;
}
#lista-colores {
    /* display: flex; */
    display: none; 
    flex-direction: row;
    list-style: none;
    width: auto;
    background-color: #11111163;
    margin-top: 25px;
    padding: 5px 0;
    justify-content: center;
    gap: 10px;
    /* Color de fondo */
}
#lista-colores > li {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid black;
}
#lista-colores > li:hover{
    box-shadow: 2px 2px 2px black;
    padding: 1px;
}

/* Colores */
.rojo {
    background-color: var(--rojo-fondo);
}
.azul {
    background-color: var(--azul-boton);
}
.blanco {
    background-color: var(--blanco-boton);
}
